@mainColor: #4F9D69;

.main .container {
    .postitem {
        display: flex;
        height: 30px;
        line-height: 30px;
        position: relative;
        margin: 15px 0;

        h1 {
            font-size: 20px;
            margin: 0;
        }

        .postdate {
            margin-right: 10px;
            width: 90px;
        }

        &:before {
            content: '';
            position: absolute;
            left: -10px;
            height: 100%;
            width: 4px;
            background-color: @mainColor;
        }

        &.draft:before {
            background-color: gray;
        }
    }
}

