@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Sébastien Ollivier</title>

    <meta charset="utf-8" />
    <meta name="author" content="S&eacute;bastien Ollivier" />
    <meta name="copyright" content="2011 - @DateTime.Now.Year © Sébastien Ollivier" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="application-name" content="S&eacute;bastien Ollivier" />
    
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700|Raleway:700">

    <link href='/styles/me.css' rel='stylesheet' type='text/css' asp-append-version="true">
</head>
<body>
    <div class="me">
        <a asp-controller="Home" asp-action="Index">
            <img src="/images/headshot.png" alt="Moi" class="headshot" />
        </a>
        <div class="name">Sébastien Ollivier</div>
        <div class="status">Développeur Web Full Stack</div>
    </div>

    <ul class="resume">
        <li>
            <span class="description">TechLead Web <a href="https://www.infinitesquare.com" target="_blank"><span class="important">@@InfiniteSquare</span></a></span>
            <span class="legend"></span>
        </li>
        <li>
            <span class="description">Microsoft <a href="https://mvp.microsoft.com/en-us/mvp/S%C3%A9bastien%20Ollivier-5001163" target="_blank"><span class="important">MVP ASP.NET / IIS</span></a></span>
            <span class="legend"></span>
            </a>
        </li>
        <li>
            <span class="description"> <a href="https://www.editions-eni.fr/sebastien-ollivier" target="_blank">Auteur</a></span>
            <span class="legend">(Angular, AngularJS)</span>
        </li>
        <li>
            <span class="description"> <a href="https://github.com/sebastieno/" target="_blank">Open source contributor</a></span>
            <span class="legend">(Cordova, VorlonJS, etc.)</span>
        </li>
        <li>
            <span class="description"><a href="https://fr.slideshare.net/sebastieno" target="_blank">Speaker</a></span>
            <span class="legend">(MS Experiences 2016, JS Open Day, ngParis, etc.)</span>
        </li>
        <li>
            <span class="description">Formateur</span>
            <span class="legend">(ASPNET Core, Cordova, Angular, etc.)</span>
        </li>
    </ul>

    <ul class="socials">
        <li><a href="https://twitter.com/SebastienOll" target="_blank" class="logo twitter"></a></li>
        <li><a href="mailto:sebastien.ollivier@gmail.com" class="logo mail"></a></li>
        <li><a href="https://fr.linkedin.com/in/sebastienollivier" target="_blank" class="logo linkedin"></a></li>
        <li><a href="https://github.com/sebastieno" target="_blank" class="logo github"></a></li>
        <li><a href="https://mvp.microsoft.com/en-us/mvp/S%C3%A9bastien%20Ollivier-5001163" target="_blank" class="logo mvp"></a></li>
    </ul>

    <p class="goto">
        <a asp-controller="Blog" asp-action="List" class="blog-link">-> Accéder au blog <-</a>
    </p>
</body>
</html>
