@{
    ViewBag.Title = "Mais où es-tu allé ?";
    ViewBag.Description = "404 - Cette page n'existe pas";
}

<h1>Tu as perdu Internet et je n'ai pas cette page en stock :/, sorry.</h1>

<p>En attendant, je te propose ce petit GIF :</p>