@{
    ViewBag.Title = "Oops, quelque chose est cassé !";
    ViewBag.Description = "500 - Erreur interne";
    ViewBag.ContainerClass = "broken";
}

<h1>Oops, quelque chose est cassé.</h1>

<p>Je mets tout en oeuvre pour corriger la situation, mais si vous voulez me donner plus d'informations sur le cheminement qui a amené cette erreur, n'hésitez pas à poster une issue ici : <a href="https://github.com/sebastieno/sebastienollivier.fr/issues" target="_blank" title="sebastienollivier.fr github issues pages">https://github.com/sebastieno/sebastienollivier.fr/issues</a>.
</p>

<p>Merci <3</p>