<mat-card>
  <div mat-card-image [style.background-image]="'url('+this.post.category.imageUrl+')'" alt="?">
    <h1>
        <a [routerLink]="['/posts/', post.category.code, post.url]">{{post.title}}</a>
    </h1>
  </div>
  <mat-card-content>
    {{post.description}}
  </mat-card-content>
  <mat-card-header>
    <div mat-card-avatar class="avatar-image"></div>
    <mat-card-title>William Klein</mat-card-title>
    <mat-card-subtitle>{{post.publicationDate | moment:'dddd DD MMMM YYYY'}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
