:host {
     ::ng-deep img {
        max-width: 100%;
        height: auto;
    }
     ::ng-deep pre[class*=language-] {
        margin: 0 -24px;
        border-radius: 0;
        @media (max-width: 600px) {
            margin: 0 -16px;
        }
    }
    [mat-card-image] {
        position: relative;
        button {
            position: absolute;
            bottom: -28px;
            right: 24px;
        }
    }
}
