<mat-card class="blog-header">
  <div mat-card-image alt="?">
  </div>
  <mat-card-content></mat-card-content>
  <mat-card-header>
    <div mat-card-avatar class="avatar-image"></div>
    <mat-card-title>William Klein</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card class="me-header">
  <div mat-card-image alt="?">
    <div class="avatar">
      <img src="https://avatars2.githubusercontent.com/u/10477902" alt="">
    </div>
  </div>
  <mat-card-content>
  </mat-card-content>
  <mat-card-header>
    <a href="https://github.com/Willovent"><div mat-card-avatar class="github-image"></div></a>
    <a href="https://twitter.com/wi_klein"><div mat-card-avatar class="twitter-image"></div></a>
    <a href="https://stackoverflow.com/users/4987593/william-klein"><div mat-card-avatar class="stackoverflow-image"></div></a>
    <a href="https://www.linkedin.com/in/william-klein-0642b390/"><div mat-card-avatar class="linkedin-image"></div></a>
  </mat-card-header>
</mat-card>
