:host {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 948px;
    margin: auto;
    flex-wrap: wrap;
}

mat-card {
    flex: 1;
    &.blog-header {
        margin-right: 20px;
        min-width: 600px;
        .mat-card-image {
            background: url('../../../assets/header.png');
            background-position: center;
            background-size: cover;
        }
    }
    &.me-header {
        min-width: 200px;
        .mat-card-image {
            display: flex;
            justify-content: center;
            align-items: center;
            .avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: calc(100% - 50px);
                border-radius: 30px;
                img {
                    height: 100%;
                }
            }
        }
        mat-card-header {
            display: flex;
            justify-content: space-between;
            ::ng-deep .mat-card-header-text {
                flex: 0;
                margin: 0;
            }
        }
    }
}

@media (max-width:800px) {
    mat-card {
        margin: 10px auto;
        &.blog-header {
            margin-right: 0;
            min-width: 600px;
            @media (max-width: 600px) {
                min-width: 400px;
            }

            @media (max-width:400px) {
                min-width: 250px;
            }
        }
    }
}
