<mat-card class="blog-header">
  <div mat-card-image alt="?">
  </div>
  <mat-card-content></mat-card-content>
  <mat-card-header>
    <div mat-card-avatar class="avatar-image"></div>
    <mat-card-title>William Klein</mat-card-title>
  </mat-card-header>
</mat-card>

<mat-card class="me-header">
  <div mat-card-image alt="?">
    <div class="avatar">
      <img src="https://avatars2.githubusercontent.com/u/10477902" alt="">
    </div>
  </div>
  <mat-card-content>
  </mat-card-content>
  <mat-card-header>
      <div mat-card-avatar class="avatar-image"></div>
      <div mat-card-avatar class="avatar-image"></div>
      <div mat-card-avatar class="avatar-image"></div>
      <div mat-card-avatar class="avatar-image"></div>
  </mat-card-header>
</mat-card>
