@model IEnumerable<Blog.Web.Models.PostModel>
@{
    ViewData["Title"] = "List";
}
<h2>Liste des articles</h2>

@foreach (var post in Model)
{
    <a href="@Url.Action("Edit", new { categoryCode = post.CategoryCode, postUrl = post.Url })" class="post">
        @Html.Partial("_PostHeader", post)
    </a>
}
