@model IEnumerable<Blog.Web.Models.PostModel>
@{
    ViewData["Title"] = "List";
}
<h2>Liste des articles</h2>

@foreach (var post in Model)
{
    <a href="@Url.Action("Edit", new { categoryCode = post.CategoryCode, postUrl = post.Url })" class="post">
        <div class="postheader @post.CategoryCode">
            <h1>@post.Title</h1>
            @if (post.PublicationDate.HasValue)
            {
                <div class='postdate'>Publi&eacute; le @post.PublicationDate.Value.ToString("dd MMMM yyyy")</div>
            }
            else
            {
                <div class='postdate'>Draft</div>
            }
        </div>
    </a>
}
