@model Blog.Web.Models.PostsSearchListModel
@{
    ViewBag.Search = Model.Search;
}

<p>Résultat(s) pour la recherche '@Model.Search' :</p>

@if(Model.Posts.Any()) {
    @Html.Partial("List", Model)
} else {
    <p>Aucun résultat</p>
}
