@model Blog.Web.Models.PostModel

@{
    var postUrl = Url.Action("Post", "Blog", new { categoryCode = Model.CategoryCode, postUrl = Model.Url });
}

<div class="post">
    @Html.Partial("_PostHeader", Model)
    <div class="postresume">@Model.Description</div>
    <p>
        <a href="@postUrl" class="more-link">(lire plus&#8230;)</a>
    </p>
</div>