@using System.Threading.Tasks
@using Microsoft.AspNetCore.Http

@model Blog.Web.Models.PostModel

@{
    var postUrl = Url.Action("Post", "Blog", new { categoryCode = Model.CategoryCode, postUrl = Model.Url }, this.Context.Request.IsHttps ? "https" : "http");
}

<div class="postheader @Model.CategoryCode">
    <a href="@postUrl" rel="bookmark">
    <h1>@Model.Title</h1>
    <div class='postdate'>Publi&eacute; le @Model.PublicationDate.Value.ToString("dd MMMM yyyy")</div>
    </a>
</div>