@model Blog.Web.Models.PostModel

@{ 
    var postUrl = Url.Action("Post", "Blog", new { categoryCode = Model.CategoryCode, postUrl = Model.Url }, this.Context.Request.IsHttps ? "https" : "http");
}

<div class="mentions">
    <h3>Si cet article t'a plu, n'hésites pas à partager <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="SebastienOll" data-text="@Model.Title" data-url="@postUrl" data-hashtags="@string.Join(',', Model.Tags)">sur Twitter</a>, et si tu as des questions / remarques, n'hésites pas à me contacter <a href="https://twitter.com/intent/tweet?screen_name=SebastienOll" class="twitter-mention-button" data-url="@postUrl" data-show-count="false">sur Twitter</a></h3>
</div>
