@model Blog.Web.Models.PostModel

@{ 
    var postUrl = Url.Action("Post", "Blog", new { categoryCode = Model.CategoryCode, postUrl = Model.Url }, this.Context.Request.IsHttps ? "https" : "http");
}

<div class="mentions">
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="SebastienOll" data-text="@Model.Title" data-url="@postUrl">Tweet</a>
    <div class="fb-share-button" data-size="large" data-href="@postUrl" data-layout="button"></div>
</div>
