<!-- <article>
  <p class="tags">{{post.tags.join(', ')}}</p>
  <h1>
    <a [routerLink]="['/posts/',post.category.code,post.url]">{{post.title}}</a>
  </h1>
  <p>{{post.description}}</p>
  <time>{{post.publicationDate | moment:'dddd DD MMMM YYYY'}}</time>
</article> -->
<mat-card (click)="goToPost()">
  <div mat-card-image [style.backgroundImage]="'url('+this.post.category.imageUrl+')'" alt="Photo of a Shiba Inu">
    <h1>
      {{post.title}}
    </h1>
  </div>
  <mat-card-content>
    {{post.description}}
  </mat-card-content>
  <mat-card-header>
    <div mat-card-avatar class="avatar-image"></div>
    <mat-card-title>William Klein</mat-card-title>
    <mat-card-subtitle>{{post.publicationDate | moment:'dddd DD MMMM YYYY'}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
