  <table cellspacing="20">
    <tr>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="title" placeholder="Titre">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input [(ngModel)]="date" matInput [matDatepicker]="picker" placeholder="Date de publication">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </tr>
  </table>
<div>
  <textarea cols="100" rows="50" [(ngModel)]="markdown"></textarea>
  <mat-card>
      <div mat-card-image [style.background-color]="'gray'" alt="Photo of a Shiba Inu">
          <h1>
            {{title}}
          </h1>
        </div>
    <mat-card-header>
      <div mat-card-avatar class="avatar-image"></div>
      <mat-card-title>William Klein</mat-card-title>
      <mat-card-subtitle>{{date| moment:'dddd DD MMMM YYYY'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <markdown [data]="markdown"></markdown>
    </mat-card-content>
  </mat-card>
</div>
