:host {
    display: block;
    padding: 20px;
    position: relative;
     ::ng-deep img {
        max-width: 100%;
        height: auto;
    }
     ::ng-deep pre[class*=language-] {
        margin: 0 -24px;
        border-radius: 0;
        @media (max-width: 600px) {
            margin: 0 -16px;
        }
    }
    [mat-card-image] {
        position: relative;
        button {
            position: absolute;
            bottom: -28px;
            right: 24px;
        }
    }
    .mat-card {
        float: left;
        width: 900px;
        margin: 0 20px;
    }
    textarea {
        float: left;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 16px;
        padding: 10px;
    }
    button {
        position: absolute;
        top: 50px;
        right: 50px;
    }
    table {
        float: left;
        width: 800px;
        .mat-form-field {
            width: 100%
        }
    }
    .desc {
        width: 500px;
    }
    .editors {
        width: 100%;
        display: flex;
        align-items: stretch;
        textarea {
            min-height: 300px;
        }
    }
}
